



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />   
    <title>Berkshire Hathaway Inc, | The Activewear Collection</title>
    <meta name="description" content="" />
    
    <meta name="keywords">   
    <link rel="Vertx_Shuriken_Icon-Square" sizes="114x114" href="/Images/Vertx_Shuriken_Icon-Square.png">
    <link rel="Vertx_Shuriken_Icon-Square" sizes="120x120" href="/Images/Vertx_Shuriken_Icon-Square.png">
    <link rel="Vertx_Shuriken_Icon-Square" sizes="144x144" href="/Images/Vertx_Shuriken_Icon-Square.png">
    <link rel="Vertx_Shuriken_Icon-Square" sizes="152x152" href="/Images/Vertx_Shuriken_Icon-Square.png">

    <script src="/Scripts/lib/jquery-2.0.3.min.js"></script>
    <script src="/Scripts/lib/modernizr.js"></script>
    
    <script src="/Scripts/google-tracking.js"></script>
    <script src="/Scripts/faq.js"></script>


    <link rel="stylesheet" href="/Styles/Default/css/site.css">
    
    <script type="text/javascript">
    var verifyCallback = function (response) {
        document.getElementById('captchaSubmitButton').disabled = false;
        document.getElementById('responsePost').value = response;
    };
    var onloadCallback = function () {
        grecaptcha.render('capthcaElement', {
            'sitekey': '6LdP6yIUAAAAAMOvdGAE_7Z-WZoBD_PzvDQd4y5U',
            'callback': verifyCallback,
        });
    };
    </script>

</head>
<body id="Home" class="Index" data-controller="Home" data-view="Index">

    <div id="layout">
        <div id="mobile-menu">
            <div class="mobile-menu-container">
                <a href="#layout-header" class="mobile-menu-closetop"><span>Close</span></a>
                <div id="mobile-menu-clone"></div>
                <a href="#layout-header" class="mobile-menu-closebottom">Close</a>
            </div>
        </div>
        <header id="layout-header">
            <div class="stickyheader">
                <div class="header-toolbar">
                    <div class="header-container">
                        <div class="header-sub-container">
                            <a href="/" class="header-logo">
                                <img src="/Images/BERKSHIRELOGO.png" alt="" />
                            </a>

                            <div class="header-search">
                                <form action="/search" method="GET">
                                    <input type="text" autocomplete="off" id="header-search-input" name="searchterm" class="form-input" data-large="Find a product" data-medium="Search..." data-small="" placeholder="" />
                                    <button type="submit" class="button"><span>Search</span></button>
                                    <div id="typeahead-results"></div>
                                </form>
                            </div>
                            <ul>
                                <li class="header-toolbar-cart"><a href="/cart">My cart: <span class="cartcount"></span></a></li>
                                <li class="header-toolbar-account"><!--Donut#75884294B9075CB92D47587EC97B54FAB4FE9CB25EA5AF67FA34DF998E43FA95C5754170A7DDDBFCA4A7F54DB2DA7A28CE6016860B26CB4F603C6FDBAF3A8B19868E3C7F4FEC19A19EFDECDABFAB90230BE9ADEAF7AC2D098FBB2D74BE28094E34C9872D8B9DDB0106838C8989B4F758E9B86C02299824ED857B5A0F027E2DF8B7E32D883335915B8CFDC7D162B6A46D538B85BC618C3171C8E9DCCC53CDFF8A4C7BAF120C14FC727AE78D64B041F9E54A7A940B5EB474642C95EA757B1B91E76F37FB9AD75B08244D73281824330D904A93F31D7C75A48A348AD5EEB73FA9A7C8EBD87B9E094F6776C2E77011B9BAA9DE0684DFFF01289ABA74F65EA96A29DC32E5D36C3BB16DC6AB9E13E548280FD4FA3179475918877D5F6230CA18B167C64F9FC3BBD66BDCE4BF858FE70702E29D52E9C87A0ADC6702E73232CEED4BBD5B2EAC023DF92C83EA3C356ABFBB4F0530DA896D6AB8246179978C51244E266316F57EE29C9C155EBBC752BEF2737168E63C8F665EEC75237DC1105AD8FD4BE7081C26F03AE9B278E4AFAECBED74558553#--><a href="/Account/Login" id="loginLink">Log in / Register</a><!--EndDonut--> </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="header-nav-container">
                    <div class="header-cart">
                        <a href="/cart">My cart: <span class="cartcount"></span></a>
                    </div>

                    <nav class="header-nav">
                        <a href="#shortcuts" id="toggle-mobilemenu">Menu</a>

<ul class="header-nav-ul">
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Shirts">Shirts</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Outerwear">Outerwear</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Hats">Hats</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Sale">Sale</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Misc">Misc</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=All">All</a>
            </li>

</ul>


                    </nav>
                </div>
            </div>
        </header>
        <div id="layout-content">
            <div class="container" id="SuccessMessage"></div>
            
<div id="layout-home">
    <div class="container home-promo-primary">
        <div class="home-promo">
            
            <div class="flexslider loading">
                <ul class="slides">                   
                    <li>
                        <img src="/Images/t.gif" data-src="/Images/Berkshire-Wear_Home-Image_09-30-16.png" data-small="/Images/Berkshire-Wear_Home-Image_08-27-15-v2.png" />
                        <div class="bannerOverlay">
                            <h2 style="color:#ffffff"><strong>THE LEADERS IN UNIFORM SYSTEMS</strong>&nbsp;</h2>
                            
                            <p style="color:#ffffff">Since 1842, Fechheimer has been manufacturing quality uniforms for Police, Fire/EMS, Corrections, Transportation, Military, Postal and Career Apparel industries. Our goal is to bring our customers products and programs that keep them looking their sharpest and feeling their best.</p>
                            <p style="color:#ffffff">Always a proud Berkshire Hathaway company, Fechheimer is honored to be the exclusive provider of Berkshire Activewear.</p>
                            <p style="color:#ffffff">We keep as many of our great Berkshire Activewear products in stock year-round as possible. If you don’t see what you are looking for, please stop by and see us at the Berkshire Hathaway Annual Meeting!</p>
                            

                        </div>
                    </li>                  
                </ul>
            </div>
        </div>
    </div>



</div>





<script src="/Scripts/flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            useCSS: false,
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
                //slider.removeClass('loading');
            }
        });
    });
</script>

        </div>
        <footer id="layout-footer" style="background-color: #000000">
            <div class="container">
                <div id="footer-shortcuts" class="footer-sitemap">
                    <div class="navmenucontainer">
                        <h4 class="footer-header small-only menu-top">Find products</h4>
                        <form class="footer-search" action="/search" method="GET">
                            <input type="text" autocomplete="off" name="searchterm" class="form-input" />
                            <button type="submit" class="button"><span>Search</span></button>
                        </form>

                        
                        <nav class="footer-store">
                            <h4 class="footer-header">Products</h4>

<ul class="header-nav-ul">
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Shirts">Shirts</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Outerwear">Outerwear</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Hats">Hats</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Sale">Sale</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Misc">Misc</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=All">All</a>
            </li>

</ul>


                        </nav>

                        
                        <nav class="footer-store">
                            <h4 class="footer-header">Help</h4>
                            <ul>
                                    <li><a href="/Account/Login">Login</a></li>
                                    <li><a href="/Account/Signup">Register</a></li>
                                <li><a href="/StoreInfo/Contact">Contact Us</a></li>
                                <li><a href="/StoreInfo/Returns">Returns</a></li>
                            </ul>
                        </nav>
                        
                        <nav class="footer-container-primary footer-shop">
                            <h4 class="footer-header">Company Info</h4>
                            <ul>
                                <li><a href="/StoreInfo/AboutUs">About Us</a></li>
                                <li><a href="/StoreInfo/Press">Press</a></li>
                                <li><a href="/StoreInfo/PrivacyPolicy">Privacy Policy</a></li>
                                <li><a href="/StoreInfo/TermsUse">Terms of Use</a></li>
                            </ul>
                            <ul>
                                <li class="to-top"><a href="#layout">To top</a></li>
                            </ul>
                        </nav>
                        <div class="footer-container-secondary">

                        </div>
                    </div>
                    
                    <div class="accordion">
                        <ul>
                            <li class='active has-sub'>
                                <a href='#'><span>Find Products</span></a>
                                <ul>
                                    <li>
                                        <form class="footer-search" action="/search" method="GET">
                                            <input type="text" autocomplete="off" name="searchterm" class="form-input" />
                                            <button type="submit" class="button"><span>Search</span></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class='has-sub'>
                                <a href='#'><span>Shop</span></a>

<ul class="header-nav-ul">
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Shirts">Shirts</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Outerwear">Outerwear</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Hats">Hats</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Sale">Sale</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=Misc">Misc</a>
            </li>
            <li>
                
                <a class="header-nav-ul-li" href="/Search?category=All">All</a>
            </li>

</ul>


                            </li>
                            <li class='has-sub'>
                                <a href='#'><span>Help</span></a>
                                <ul>
                                        <li><a href="/Account/Login">Login</a></li>
                                        <li><a href="/Account/Signup">Register</a></li>
                                    <li><a href="/StoreInfo/Contact">Contact Us</a></li>

                                    <li class="to-top"><a href="#layout">To top</a></li>
                                </ul>
                            </li>
                            <li class='has-sub'>
                                <a href='#'><span>Store info</span></a>
                                <ul>
                                    <li><a href="/StoreInfo/AboutUs">About Us</a></li>
                                    <li><a href="/StoreInfo/Contact">Contact Us</a></li>
                                    <li><a href="/StoreInfo/TermsUse">Terms of Use</a></li>
                                    <li><a href="/StoreInfo/PrivacyPolicy">Privacy Policy</a></li>
                                    <li><a href="/StoreInfo/ReturnPolicy">Return Policy</a></li>
                                    <li><a href="/Account/Login">Login</a></li>
                                    <li><a href="/Account/dashboard">Your account</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script src="/Scripts/accordion-mobile.js"></script>
                    </div>
                    


                </div>
                
                <div class=" footer-support">
                    <div class="customer-support">
                        <h4 class="footer-header">Customer Support</h4>
                        <p>
                            <a href="mailto:support@berkshirewear.com?Subject=Customer%20Support%20Request" target="_top">support@berkshirewear.com</a><br>
                            Phone: (866) 638-5390
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <br />
            </div>
            <div>
                <ul class ="fechLinks">
                    <li><a href="/StoreInfo/AboutUs">About Us</a></li>
                    <li><a href="/StoreInfo/Contact">Contact Us</a></li>
                    <li><a href="/StoreInfo/TermsUse">Terms of Use</a></li>
                    <li><a href="/StoreInfo/PrivacyPolicy">Privacy Policy</a></li>

                    <li><a href="/Account/Login">Login</a></li>
                    <li><a href="/Account/dashboard">Your account</a></li>


                </ul>
            </div>

            <div class="copyright">© 2017 Fechheimer, All claims valid only in the U.S.* Any store locations are independent retail stores, owned and operated by parties shown and not affiliated</div>
        </footer>
    </div>
    <script id="tmpl-typeahead-results" type="text/template">
<a href="#" class="close"><span>Close</span></a>
<ul>
    {{#matches}}
    <li><a href="/Search?searchTerm={{term}}&category={{category}}"><strong>{{product}}</strong> {{suffix}}</a></li>
    {{/matches}}  
</ul>    
</script>
<script id="tmpl-alertmessage" type="text/template">
    <div id="status-message" class="{{style}}">{{message}}</div>
</script>

    
    <script src="/Scripts/lib/gluten.js"></script>
    <script src="/Scripts/lib/mustache.js"></script>
    <script src="/Scripts/helpers.js"></script>
    <script src="/Scripts/global.js"></script>
    <script src="/Scripts/home.js"></script>
    <script src="/Scripts/cart.js"></script>
    <script src="/Scripts/product.js"></script>
    <script src="/Scripts/checkout.js"></script>
    <script src="/Scripts/search.js"></script>
    <script src="/Scripts/account.js"></script>
    <script src="/Scripts/api.js"></script>
    <script src="/Scripts/category.js"></script>
    <script src="/Scripts/flexisel-product-slider.js"></script>
    <script src="/Scripts/jquery.simpleGallery.js"></script>
    <script src="/Scripts/jquery.simpleLens.js"></script>
    <script src="/Scripts/lib/jquery-ui-1.8.24.min.js"></script>
</body>
</html>
